/node_modules
/public/bower_components
/public/storage
/public/hot
/public/css/
/public/js/
/public/images/
/public/upload/
/public/bower_components
/storage/*.key
/vendor
/.idea
/public/fonts/
/public/mix-manifest.json
composer.lock
Homestead.json
Homestead.yaml
.env
_ide_helper.php
