body {
    background: white;
}
nav {
    margin-bottom: 0!important;
    ul.navbar-right {
        form.navbar-form{
            width: 300px;
            div.form-group {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
    }
}
