
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "layouts/nav";
@import "layouts/wrapper";
@import "welcome";
@import "schedule/interview";
@import "candidate/statistic";
